@import "tailwindcss";

:root {
  --background: #0f0f11;
  --text-primary: #f1f1f1;
  --text-secondary: #a1a1aa;
  --accent: #ff1e1e;
  --accent-hover: #e60000;
}

@theme inline {
  --color-background: var(--background);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-roboto);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-oswald);
}

.glass {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

